body {
  background-color: #eeeded;
  /* background-image: linear-gradient(
      rgba(193, 188, 137, 0.708),
      rgba(193, 188, 137, 0.708)
    ),
    url('images//stonetexture512.jpg'); */

  background-size: 15rem;
}

main {
  height: 100%;
}

.appHousing {
  margin: auto;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#topper {
  height: 40vw;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#bottom {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.spacer {
  width: 80%;
}

.clockHousing {
  color: white;
  background-image: url('images/Red-Curtains.jpg');

  background-position: center;
  background-size: 80% 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vw;
}

.leftPillar {
  width: 30%;
  height: 100%;
}

.rightPillar {
  width: 30%;
  height: 100%;
}

@supports (-webkit-text-stroke: 0.2vw black) {
  .clock {
    -webkit-text-stroke: 0.2vw black;
    -webkit-text-fill-color: white;
  }
}

h1 {
  font-family: 'Texturina', serif;

  text-align: center;
  font-size: 4vw;
  font-weight: 100;
}

button {
  display: block;
  border: solid black 0.15vw;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  padding: 0.3rem 0.7rem;
  margin: auto;
  text-decoration: none;
  background-color: rgba(255, 249, 242);
  color: black;
  font-family: 'Texturina', serif;
  font-size: 2vw;
  cursor: pointer;
  text-align: center;
  transition: background 150ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover {
  background-color: rgb(233, 229, 225);
}

button:focus {
  outline: 1px solid rgba(169, 169, 169, 0);
  outline-offset: -4px;
}

button:active {
  transform: scale(0.99);
}

.clockInnerHousing {
  width: 80%;
}

.clock {
  font-family: 'Cormorant', serif;
  text-align: center;
  font-weight: 100;

  font-size: 15vw;
}

#colan {
  margin-bottom: 50px;
}

#seconds {
  font-family: 'Cinzel', serif;
  color: black;
  text-align: center;
  font-size: 3vw;
  margin-top: -0.6rem;
}

#timeOfDay {
  margin-top: 0.3rem;
  color: black;
  font-family: 'Cinzel', serif;
  font-size: 9vw;
  text-align: center;
}

/* @media screen and (min-width: 800px) {
  body {
    background-size: 33.3vw;
  }
}

@media screen and (max-width: 480px) {
  body {
    background-repeat: no-repeat;
    background-size: 100%;
  }
} */
