h1 {
  font-family: 'Texturina', serif;
  text-align: center;
  font-size: 4vw;
  font-weight: 100;
}

.clock {
  font-family: 'Cinzel', serif;
  text-align: center;

  font-size: 17vw;
}

#colan {
  margin-bottom: 50px;
}

#seconds {
  font-family: 'Cinzel', serif;
  text-align: center;
  font-size: 3vw;
}
